@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "404";
}
<h2>404 página no encontrada.</h2>
<input type="button" name="name" id="btnRegresar" value="Regresar" class="btn btn-info" />
<a href="@Url.Action("Venta","Venta")" class="btn btn-default">Consulta Stock</a>