<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=PC05003;Initial Catalog=ZICO_ERP01;Persist Security Info=True;User ID=inicio;Password=DUFferco7;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="ZICO_ERPContext" connectionString="data source=PC05003;initial catalog=ZICO_ERP01;user id=inicio;password=DUFferco7;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  <add name="ZICO_ERP01Entities" connectionString="metadata=res://*/Models.ZICO_ERP01.csdl|res://*/Models.ZICO_ERP01.ssdl|res://*/Models.ZICO_ERP01.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=PC05003;initial catalog=ZICO_ERP01;user id=inicio;password=DUFferco7;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <!--<interceptors>
    <interceptor type="System.Data.Entity.Infrastructure.Interception.DatabaseLogger,EntityFramework">
      <parameters>
        <parameter value="C:\MyLog.txt"/>
        <parameter value="true" type="System.Boolean"/>
      </parameters>
    </interceptor>
  </interceptors>-->
</configuration>