
<div class="modal fade" id="ModalMensajeConfirmacion" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header border-0">
                <h5 class="modal-title" id="staticBackdropLabel">Confirmar</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body border-0">
                [Mensaje de confirmación]
            </div>
            <div class="modal-footer border-0">
                <button type="button" class="btn btn-danger btn-cancel" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-success btn-confirm">Confirmar</button>
            </div>
        </div>
    </div>
</div>