

<div class="modal fade" id="rechazoCotizacionModal" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header bg-danger text-white">
                    <h5 id="tituloModalRechazo" class="modal-title">Rechazar Cotización</h5>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <row>
                            <div class="col-12 mb-3">
                                <label for="motivoRechazoSelect">Motivo:</label>
                                <select class="form-select" id="motivoRechazoSelect"></select>
                            </div>
                            <div class="col-12 mb-3">
                                <label for="mensajeTextArea" class="col-form-label">Mensaje:</label>
                                <textarea class="form-control" id="mensajeTextArea"></textarea>
                            </div>
                        </row>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">Cerrar</button>
                    <button id="rechazarCotizacionButton" type="button" class="btn btn-danger">Rechazar</button>
                </div>
            </div>
        </div>
    </div>


